
.name {
	text-align: center;
	font-family: 'Limelight', cursive;
	font-size: 80px;
}
.navbar-nav>li{
	float: left;
}
.rotate{
	display: block;
	transform: rotate(90deg);
	margin: auto
}
.infos{
	font-family: 'Nixie One', cursive;
	font-size: 75px;
}
p{
	font-size: 20px;
}
.well{
  align-self: center;
  color: rgb(49, 134, 134);
	font-family: 'Poiret One', cursive;
  height: %50;
  width: %50;
  background: rgb(165, 221, 221);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  vertical-align: top;
  text-align: center;
}
